- extends "new_base.jade"
- load static from staticfiles
- load nodeurl from sboard

- block title
  | {{ fraction.name }}


- block middle
  .photo-box.fraction
    .ui.page.grid
      .center.aligned.four.wide.column
        .logo-box
          if fraction.logo
            img(src="{{ fraction.logo.url }}")
          else
            img(src="{% static 'img/fractions/fraction-default.png' %}")
      .twelve.wide.column
        .title
          h1 {{ fraction.name }}


  .colored-bg
    .ui.zero.margin.page.grid
      .stats-box
        .one-number
          .block: h4.number {{fraction.get_avg_vote_percentage|floatformat:0}}%
          .block: .explanation Dalyvavimas balsavimuose
        .rating: .ui.indicating.progress(data-percent=fraction.ranking.votes_percentile): .bar

      .stats-box
        .two-numbers
          h3 Aktyvumas diskusijuose
          .block
            h4.number {{fraction.get_avg_statement_count|floatformat:0}}
            p.explanation pasisakymai (vid.)
          .block
            h4.number {{fraction.get_avg_long_statement_count|floatformat:0}}
            .explanation ilgi pasisakymai (vid.)
        .rating: .ui.indicating.progress(data-percent=fraction.ranking.statement_count_percentile): .bar

      .stats-box
        .three-numbers
          h3 Įstatymų projetai
          .block
            h4.number 105
            p.explanation pasiūlyti
          .block
            h4.number 5
            .explanation priimti
          .block
            h4.number 8%
            .explanation palaikymas
        .rating: .ui.indicating.progress(data-percent="74"): .bar

      .stats-box.total
        .stats
          h3 40%
          .explanation bendras aktyvumas
        .vertical-progress: .bar: .text

  .parliamentarians.wide
    .ui.page.grid
      h2 Frakcijos nariai

      for member in members
        .parliamentarian.box
          img(src="{{ member.photo.url }}")
          .info
            h2: a(href="{% url 'mp_profile' member.slug %}") {{member.full_name}}
            a(href="{% url 'mp_fraction' fraction.slug %}").fraction-name {{fraction.name}}


  .colored-bg.decisions
    .ui.page.grid
      h2 Politiniai sprendimai
        small (DĖMESIO: duomenys praeitos (2008-2012) kadencijos balsavimų!)

    .ui.stackable.three.column.center.aligned.page.grid
        .column
          h3.supports UŽ

          for position in positions.for
            .decision(class=position.klass)
              a(href="{% nodeurl position.node.ref %}" title=position.format_position()) {{ position.node.ref.title }}

        .column
          h3.abstention nei už nei prieš

          for position in positions.neutral
            .decision.abstention
              a(href="{% nodeurl position.node.ref %}" title=position.format_position()) {{ position.node.ref.title }}

        .column
          h3.against PRIEŠ

          for position in positions.against
            .decision(class=position.klass)
              a(href="{% nodeurl position.node.ref %}" title=position.format_position()) {{ position.node.ref.title }}
