- extends "new_base.jade"
- load static from staticfiles
- load nodeurl from sboard
- load compress from compress

- block title
  | {{ fraction.name }}

-block inlinejs
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js", type="text/javascript")
  script(src="{% static 'js/jquery.scrollTo-1.4.3.1-min.js' %}")

  - compress js
    script(src="{% static 'components/react_loader.jsx' %}", type="text/jsx", charset="utf-8")
    script(src="{% static 'components/row_components.jsx' %}", type="text/jsx", charset="utf-8")
    script(src="{% static 'components/filter_component.jsx' %}", type="text/jsx", charset="utf-8")
    script(src="{% static 'components/fraction_member_list.jsx' %}", type="text/jsx", charset="utf-8")


- block middle
  .photo-box.fraction
    .ui.page.grid
      .center.aligned.four.wide.column
        .logo-box
          if fraction.logo
            img(src="{{ fraction.logo.url }}")
          else
            img(src="{% static 'img/fractions/fraction-default.png' %}")
      .twelve.wide.column
        .title
          h1 {{ fraction.name }}


  .colored-bg
    .ui.zero.margin.page.grid
      .stats-description Šios kadencijos frakcijos statistika:
      .stats-box
        .one-number
          .block.left: h4.number {{fraction.avg_vote_percentage|floatformat:0}}%
          .block.right
            .explanation: span.popup(data-content="{{explanations.stats_voitings}}"
                               data-position="top center") Dalyvavimas balsavimuose
      .stats-box
        .two-numbers
          h3 Aktyvumas diskusijose
            i.info.circle.icon.popup(data-content="{{explanations.stats_discussions}}"
                                     data-position="top center")
          .block
            h4.number {{fraction.avg_statement_count|floatformat:0}}
            p.explanation pasisakymai (vid.)
          .block
            h4.number {{fraction.avg_long_statement_count|floatformat:0}}
            .explanation: span.popup(data-content="{{explanations.stats_long_statements}}"
                                     data-position="top center") ilgi pasisakymai (vid.)

      .stats-box
        .three-numbers
          h3 Teisės aktų projektai
            i.info.circle.icon.popup(data-content="{{explanations.stats_discussions}}"
                                     data-position="top center")
          .block
            h4.number {{fraction.avg_law_project_count|floatformat:0}}
            .explanation: span.popup(data-content="{{explanations.stats_proposed_projects}}"
                                     data-position="top center") pasiūlyti	(vid.)
          .block
            h4.number {{fraction.avg_passed_law_project_count|floatformat:0}}
            .explanation priimti (vid.)
          .block
            h4.number {{fraction.avg_passed_law_project_ratio|floatformat:0}}%
            .explanation: span.popup(data-content="{{explanations.stats_projects_success_rate}}"
                                     data-position="top center") palaikymas (vid.)

  .parliamentarians.wide
    .ui.page.grid
      h2 Frakcijos nariai

      #fraction-member-list(data-endpoint="{% url 'fraction_mps_json' fraction.slug %}")
