- extends "new_base.jade"
- load static from staticfiles
- load nodeurl from sboard

- block title
  | {{ fraction.name }}


- block middle
  .photo-box.fraction
    .ui.page.grid
      .center.aligned.four.wide.column
        .logo-box
          if fraction.logo
            img(src="{{ fraction.logo.url }}")
          else
            img(src="{% static 'img/fractions/fraction-default.png' %}")
      .twelve.wide.column
        .title
          h1 {{ fraction.name }}


  .colored-bg
    .ui.zero.margin.page.grid
      .stats-description Šios kadencijos frakcijos statistika:
      .stats-box
        .one-number
          .block.left: h4.number {{fraction.avg_vote_percentage|floatformat:0}}%
          .block.right
            .explanation: span.popup(data-content="{{explanations.stats_voitings}}"
                               data-position="top center") Dalyvavimas balsavimuose
      .stats-box
        .two-numbers
          h3 Aktyvumas diskusijose
            i.info.circle.icon.popup(data-content="{{explanations.stats_discussions}}"
                                     data-position="top center")
          .block
            h4.number {{fraction.avg_statement_count|floatformat:0}}
            p.explanation pasisakymai (vid.)
          .block
            h4.number {{fraction.avg_long_statement_count|floatformat:0}}
            .explanation: span.popup(data-content="{{explanations.stats_long_statements}}"
                                     data-position="top center") ilgi pasisakymai (vid.)

      .stats-box
        .three-numbers
          h3 Įstatymų projektai
            i.info.circle.icon.popup(data-content="{{explanations.stats_discussions}}"
                                     data-position="top center")
          .block
            h4.number {{fraction.avg_law_project_count|floatformat:0}}
            .explanation: span.popup(data-content="{{explanations.stats_proposed_projects}}"
                                     data-position="top center") pasiūlyti	(vid.)
          .block
            h4.number {{fraction.avg_passed_law_project_count|floatformat:0}}
            .explanation priimti (vid.)
          .block
            h4.number {{fraction.avg_passed_law_project_ratio|floatformat:0}}%
            .explanation: span.popup(data-content="{{explanations.stats_projects_success_rate}}"
                                     data-position="top center") palaikymas (vid.)

  .parliamentarians.wide
    .ui.page.grid
      h2 Frakcijos nariai

      for member in members
        .parliamentarian.box
          img(src="{{ member.photo.url }}")
          .info
            h2: a(href="{% url 'mp_profile' member.slug %}") {{member.full_name}}
            a(href="{% url 'mp_fraction' fraction.slug %}").fraction-name {{fraction.name}}


  .colored-bg.decisions
    .ui.page.grid
      h2 Politiniai sprendimai
        small (DĖMESIO: duomenys praeitos (2008-2012) kadencijos balsavimų!)

    .ui.stackable.three.column.center.aligned.page.grid
        .column
          h3.supports UŽ

          for position in positions.for
            .decision(class=position['klass'])
              a(href="{{ position.permalink }}" title=position["formatted"]) {{ position.title }}

        .column
          h3.abstention nei už nei prieš

          for position in positions.neutral
            .decision.abstention
              a(href="{{ position.permalink }}" title=position["formatted"]) {{ position.title }}

        .column
          h3.against PRIEŠ

          for position in positions.against
            .decision(class=position['klass'])
              a(href="{{ position.permalink }}" title=position["formatted"]) {{ position.title }}

  .law-project-collaborators
    .ui.zero.margin.page.grid
      a(name="law-project-collaborators")
      h2 Įstatymų projektus teikia kartu su
      table.ui.table
        thead
          tr
            th Nr.
            th Frakcija
            th.center.aligned.popup(data-content="{{explanations.projects_collaboration}}"
                                    data-position="top center") Bendradarbiavimas
        tbody
          for fraction in collaborating_fractions
            tr
              td {{ forloop.counter }}
              td
                a(href="{% url 'mp_fraction' fraction.slug %}") {{ fraction.name }}
              td.center.aligned {{ fraction.signing_percentage|floatformat:0 }}%
