- extends "new_base.jade"
- load static from staticfiles
- load nodeurl from sboard

- block title
  | {{ profile.full_name }}

- block header
  - include "snippets/header_bootstrap.jade"
  - include "header_scrooled.jade"

- block middle
  .photo-box.parliamentarian
    .ui.zero.margin.page.grid
      .center.aligned.four.wide.column
        .logo-box
          img(src="{{photo_url}}" title="{{profile.full_name}}")
      .twelve.wide.column
        .title
          a(name="bio")
          h1 {{profile.full_name}}
          h2.fraction-name: a(href="{% url 'mp_fraction' profile.fraction_slug %}") {{profile.fraction_name}}

        .ui.two.column.stackable.grid
          .column.info
            .ui.three.item.tabular.menu
              .item(data-tab="committees").active Komitetai/Komisijos
              .item(data-tab="groups") Grupės
              .item(data-tab="general") Bendra

            .ui.tab(data-tab="committees").active
              for membership in committees
                .group
                  .name {{membership.group.name}}
                  .membership-type {{membership.position}}
            .ui.tab(data-tab="groups")
              for membership in groups
                .group
                  .name {{membership.group.name}}
                  .membership-type {{membership.position}}
            .ui.tab(data-tab="general")
              .info-block
                .name Išrinktas:
                .info {{ profile.constituency|default_if_none:'-' }}
              .info-block
                .name Iškėlė:
                .info: b {{ profile.raised_by|default_if_none:'-' }}
              .info-block
                .name Frakcijos:
                .info
                  for fraction in all_fractions
                    div
                      a(href="{% url 'mp_fraction' fraction.group.slug %}") {{ fraction.group.name }}
                      | &nbsp; (nuo {{ fraction.since }}
                      if fraction.until
                        | iki {{ fraction.until }}
                      |)
              if profile.office_address
                .info-block
                  .name Biuro adresas:
                  .info {{ profile.office_address }}

          .column.biography
            h2 Biografija

            .bio-text
              | {{ biography|default_if_none:'-' }}

  .colored-bg
    .ui.zero.margin.page.grid
      a(name="stats")
      .stats-box
        .one-number
          .block: h4.number {{stats.vote_percent|floatformat:0}}%
          .block: .explanation Dalyvavimas balsavimuose
        .rating(data-title="Geriau negu {{ranking.votes_percentile}}%" data-content="Palyginimas su kitais parlamentarais. Kuo daugiau procentų tuo geriau.")
          .ui.indicating.progress(data-percent=ranking.votes_percentile): .bar

      .stats-box
        .two-numbers
          h3 Aktyvumas diskusijuose
          .block
            h4.number {{ stats.statement_count }}
            p.explanation pasisakymai
          .block
            h4.number {{ stats.long_statement_percentage|floatformat:0 }}%
            .explanation Ilgi pasisakymai (kalbos)
        .rating(data-title="Pasisako dažniau negu {{ranking.statement_count_percentile}}%" data-content="Palyginimas su kitų parlamentarų pasisakymų skaičiumi. 100% surenka šnekiausias parlamentaras.")
          .ui.indicating.progress(data-percent=ranking.statement_count_percentile): .bar

      .stats-box.total
        .stats
          h3 40%
          .explanation bendras aktyvumas
        .vertical-progress: .bar: .text

  if positions.for or positions.against or positions.neutral
    .decisions
      .ui.page.grid
        a(name="decisions")
        h2 Politiniai sprendimai
          small (DĖMESIO: duomenys praeitos (2008-2012) kadencijos balsavimų!)

      .ui.stackable.three.column.center.aligned.page.grid
          .column
            h3.supports UŽ

            for position in positions.for
              .decision(class=position.klass)
                a(href="{% nodeurl position.node.ref %}" title=position.format_position()) {{ position.node.ref.title }}

          .column
            h3.abstention nei už nei prieš

            for position in positions.neutral
              .decision.abstention
                a(href="{% nodeurl position.node.ref %}" title=position.format_position()) {{ position.node.ref.title }}

          .column
            h3.against PRIEŠ

            for position in positions.against
              .decision(class=position.klass)
                a(href="{% nodeurl position.node.ref %}" title=position.format_position()) {{ position.node.ref.title }}

  .transcripts
    a(name="transcripts")
    a(name='stenogram_section')
    .ui.stackable.page.grid
      .nine.wide.column
        h2 Seimo posedžių stenogramos

      .seven.wide.column
        .stats-box.horisontal
          .three-numbers
            .block
              h4.number {{stats.statement_count}}
              p.explanation pasisakymai
            .block
              h4.number {{stats.long_statement_count}}
              .explanation ilgi pasisakymai
            .block
              h4.number {{stats.contributed_discussion_percentage|floatformat:2}}%
              .explanation dalyvavimas diskusijuose

    .ui.stackable.page.grid
      .twelve.wide.column
        for statement in statements.object_list
          .transcription
            .text {{statement.text}}
            .meta
              a.show-all(data-id=statement.id) Rodyti visą diskusiją
              .document-title {{statement.topic}}
              .date {{statement.topic.timestamp}}

        .ui.zero.margin.center.aligned.grid: .ui.pagination.menu
          if statements.has_previous
            a.item(href="?page={{ statements.previous_page_number }}#stenogram_section")
              i.left.arrow.icon
              | Atgal

          .item {{ statements.number }} iš {{ statements.paginator.num_pages }}

          if statements.has_next
            a.item(href="?page={{ statements.next_page_number }}#stenogram_section")
              | Pirmyn
              i.icon.right.arrow

      .four.wide.column
        .sidebar
          a(href="#").item.selected: h4 Visos sesijos
          a(href="#").item: h4 Pavasario sesija 2015
          a(href="#").item: h4 Rudens sesija 2014
          a(href="#").item: h4 Pavasario sesija 2014
          a(href="#").item: h4 Rudens sesija 2013
          a(href="#").item: h4 Pavasario sesija 2013


  script(type='text/javascript')
    $(document).ready(function() {
      $('.show-all').click(function() {
        var content = [];
        var url = '/mp/discussion_json/'+$(this).attr("data-id");

        $.getJSON(url, function (data) {
          $('.ui.modal .header').text(data.topic.title);

          data.statements.forEach(function(statement) {
            content.push('<div class="statement">');
            if (statement.selected) {
              content.push('<p class="highlighted">');
            } else {
              content.push('<p>');
            }
            if (statement.as_chairperson) {
              content.push('<i class="spy icon" title="Pirmininkas"></i>');
            }
            content.push('<b>'+statement.speaker_name+' </b>');
            content.push(statement.text);
            content.push('</p>');
            content.push('</div>');
            });
          $('.ui.modal .description').html(content.join(""));

          $('.ui.modal').modal('show', 'show dimmer');
        });
      });
    });

  .ui.modal
    .header Header Is here
    .content
      .description Hello
    .actions
      .ui.black.button
        | Close
