- extends "new_base.jade"
- load static from staticfiles
- load nodeurl from sboard
- load compress from compress
- load lt_pluralize

- block title
  | {{ profile.full_name }}

-block inlinejs
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js", type="text/javascript")
  script(src="{% static 'js/jquery.scrollTo-1.4.3.1-min.js' %}")
  - compress js
    script(src="{% static 'coffee/statements.coffee' %}", type="text/coffeescript", charset="utf-8")
    script(src="{% static 'components/react_paginator.jsx' %}", type="text/jsx", charset="utf-8")
    script(src="{% static 'components/react_loader.jsx' %}", type="text/jsx", charset="utf-8")
    script(src="{% static 'components/law_projects_component.jsx' %}", type="text/jsx", charset="utf-8")


- block header
  - include "snippets/header_bootstrap.jade"
  - include "header_scrooled.jade"

- block middle
  .photo-box.parliamentarian
    .ui.zero.margin.page.grid
      .center.aligned.four.wide.column
        .logo-box
          img(src="{{photo_url}}" title="{{profile.full_name}}")
      .twelve.wide.column
        .title
          a(name="bio")
          h1 {{profile.full_name}}
          if profile.fraction_slug and profile.fraction_name
            h2.fraction-name: a(href="{% url 'mp_fraction' profile.fraction_slug %}") {{profile.fraction_name}}
          else
            h2.fraction-name: &nbsp;

        .ui.two.column.stackable.grid
          .column.info
            .ui.three.item.tabular.menu
              .item(data-tab="committees").active Komitetai/Komisijos
              .item(data-tab="groups") Grupės
              .item(data-tab="general") Bendra

            .ui.tab(data-tab="committees").active
              for membership in committees
                .group
                  .name {{membership.group.name}}
                  .membership-type {{membership.position}}
            .ui.tab(data-tab="groups")
              for membership in groups
                .group
                  .name {{membership.group.name}}
                  .membership-type {{membership.position}}
            .ui.tab(data-tab="general")
              .info-block
                .name Išrinktas:
                .info {{ profile.constituency|default_if_none:'-' }}
              .info-block
                .name Iškėlė:
                .info: b {{ profile.raised_by|default_if_none:'-' }}
              .info-block
                .name Frakcijos:
                .info
                  for fraction in all_fractions
                    div
                      a(href="{% url 'mp_fraction' fraction.group.slug %}") {{ fraction.group.name }}
                      | &nbsp; (nuo {{ fraction.since }}
                      if fraction.until
                        | iki {{ fraction.until }}
                      |)
              if profile.office_address
                .info-block
                  .name Biuro adresas:
                  .info {{ profile.office_address }}

          .column.biography
            h2 Biografija

            .bio-text
              | {{ biography|default_if_none:'-' }}

  .colored-bg
    .ui.zero.margin.center.aligned.grid
      a(name="stats")
      .stats-box
        .one-number
          .block.left: h4.number {{stats.vote_percent|floatformat:0}}%
          .block.right: .explanation Dalyvavimas balsavimuose
        .rating(data-title="Geriau negu {{ranking.votes_percentile}}%" data-content="Palyginimas su kitais parlamentarais. Kuo daugiau procentų tuo geriau.")
          .ui.indicating.progress(data-percent=ranking.votes_percentile): .bar

      .stats-box
        .two-numbers
          h3 Aktyvumas diskusijose
          .block
            h4.number {{ stats.statement_count }}
            p.explanation pasisakymai
          .block
            h4.number {{ stats.long_statement_count }}
            .explanation ilgi pasisakymai (kalbos)
        .rating(data-title="Pasisako dažniau negu {{ranking.statement_count_percentile}}%" data-content="Palyginimas su kitų parlamentarų pasisakymų skaičiumi. 100% surenka šnekiausias parlamentaras.")
          .ui.indicating.progress(data-percent=ranking.statement_count_percentile): .bar

      .stats-box
        .three-numbers
          h3 Teisės aktų projektai
          .block
            h4.number {{ stats.proposed_projects }}
            p.explanation pateikti
          .block
            h4.number {{ stats.passed_projects }}
            .explanation priimti
          .block
            h4.number {{stats.passed_project_percentage|floatformat:0 }}%
            .explanation sėkmė
        .rating(data-title="Priimtų/pasiūlytų įstatymų santykis geresnis negu {{ranking.passed_law_project_ratio_percentile}}%" data-content="Palyginimas su kitų parlamentarų priimtų ir pasiūlytų įstatymų santykiu.")
          .ui.indicating.progress(data-percent="{{ ranking.passed_law_project_ratio_percentile }}"): .bar

  if positions.for or positions.against or positions.neutral
    .decisions
      .ui.page.grid
        a(name="decisions")
        h2 Politiniai sprendimai
          small.important DĖMESIO: duomenys praeitos (2008-2012) kadencijos balsavimų!
          i.circle.grey.info.icon(style="float: right;")

      .ui.stackable.three.column.center.aligned.page.grid
          .column
            h3.supports UŽ

            for position in positions.for
              .decision(class=position['klass'])
                a(href="{{ position.permalink }}" title=position["formatted"]) {{ position.title }}

          .column
            h3.abstention nei už nei prieš

            for position in positions.neutral
              .decision.abstention
                a(href="{{ position.permalink }}" title=position["formatted"]) {{ position.title }}

          .column
            h3.against PRIEŠ

            for position in positions.against
              .decision(class=position['klass'])
                a(href="{{ position.permalink }}" title=position["formatted"]) {{ position.title }}

  .transcripts
    a(name='stenogram_section')
    .ui.stackable.page.grid
      .ten.wide.column
        h2 Seimo posedžių stenogramos
      if stats.statement_count
        .six.wide.right.aligned.column
          .ui.toggle.checkbox#only_as_presenter
            label Rodyti tik tas kalbos kur parlamentaras yra pristatinėtojas
            input(name="filter_presenter" type="checkbox", checked="")

    if stats.statement_count
      .statements-component(data-slug="{{profile.slug}}")
    else
      .ui.stackable.page.grid
        .eight.wide.column
          h4 Šis seimo narys neturi pasisakymų seimo posėdžių metu

  a(name="law-projects")
  #law-projects-component(data-slug="{{profile.slug}}")

  .law-project-collaborators
    .ui.zero.margin.page.grid
      a(name="law-project-collaborators")
      h3 Įstatymų projektus dažniausiai teikia kartu su:
      .collaborators
        for mp in top_collaborating_mps
          .parliamentarian.box
            img(src="{{ mp.photo.url }}")
            .info
              h2: a(href="{% url 'mp_profile' mp.slug %}") {{mp.full_name}}
              if mp.fraction
                a(href="{% url 'mp_fraction' mp.fraction.slug %}").fraction-name {{mp.fraction.name}}
              p {{ mp.project_count }} {% lt_pluralize mp.project_count 'bandras projektas' ' bendri projektai' 'bendrų projektų' %}



  .ui.decisions-metodics.small.modal
    .header
      span Metodikos aprašymas
      i.close.icon
    .content
      .description
        p Procentai parodo laipsnį, kiek frakcijos ir Seimo nariai palaiko pasirinktą temą. Jie apskaičiuojami pagal tris rodiklius: balsavimų skaičių, jų svarbą ir tai, kiek frakcijos narių balsavo. Daugiau žiūrėti čia. Palaikymo reikšmės:
        ul
          li
            b stipriai už (tamsiai žalia)
            | = nuo 66% iki 100%
          li
            b vidutiniškai už (žalia)
            | = nuo 66% iki 100%
          li
            b nestipriai už (šviesiai žalia)
            | = nuo 66% iki 100%
          li
            b neutraliai (geltona)
            | = nuo 66% iki 100%
          li
            b nestipriai prieš (šviesiai raudona)
            | = nuo 66% iki 100%
          li
            b vidutiniškai prieš (raudona)
            | = nuo 66% iki 100%
          li
            b stipriai prieš (tamsiai raudona)
            | = nuo 66% iki 100%
        p Stipri Seimo nario pozicija rodo, kad jis visuose balsavimuose balsavo panašiai. Nestipri (silpna) pozicija gali reikšti, kad Seimo narys per balsavimus "susilaikė", arba kad kartais balsavo vienaip, o kartais - kitaip.

  script
    $(document).ready(function() {
      $('.decisions .info.icon').click(function() {
        $('.decisions-metodics.modal').modal('show');
      });
    });
