- extends "new_base.jade"
- load static from staticfiles
- load nodeurl from sboard
- load compress from compress
- load lt_pluralize

- block title
  | {{ profile.full_name }}

-block inlinejs
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js", type="text/javascript")
  script(src="{% static 'js/jquery.scrollTo-1.4.3.1-min.js' %}")
  - compress js
    script(src="{% static 'coffee/statements.coffee' %}", type="text/coffeescript", charset="utf-8")
    script(src="{% static 'components/react_paginator.jsx' %}", type="text/jsx", charset="utf-8")
    script(src="{% static 'components/react_loader.jsx' %}", type="text/jsx", charset="utf-8")
    script(src="{% static 'components/law_projects_component.jsx' %}", type="text/jsx", charset="utf-8")


- block header
  - include "snippets/header_bootstrap.jade"
  - include "header_scrooled.jade"

- block middle
  .photo-box.parliamentarian
    .ui.zero.margin.page.grid
      .center.aligned.four.wide.column
        .logo-box
          img(src="{{photo_url}}" title="{{profile.full_name}}")
      .twelve.wide.column
        .title
          a(name="bio")
          h1 {{profile.full_name}}
          if profile.fraction_slug and profile.fraction_name
            h2.fraction-name: a(href="{% url 'mp_fraction' profile.fraction_slug %}") {{profile.fraction_name}}
          else
            h2.fraction-name: &nbsp;

        .ui.two.column.stackable.grid
          .column.info
            .ui.three.item.tabular.menu
              .item(data-tab="committees").active Komitetai/Komisijos
              .item(data-tab="groups") Grupės
              .item(data-tab="general") Bendra

            .ui.tab(data-tab="committees").active
              for membership in committees
                .group
                  .name {{membership.group.name}}
                  .membership-type {{membership.position}}
            .ui.tab(data-tab="groups")
              for membership in groups
                .group
                  .name {{membership.group.name}}
                  .membership-type {{membership.position}}
            .ui.tab(data-tab="general")
              .info-block
                .name Išrinktas:
                .info {{ profile.constituency|default_if_none:'-' }}
              .info-block
                .name Iškėlė:
                .info: b {{ profile.raised_by|default_if_none:'-' }}
              .info-block
                .name Frakcijos:
                .info
                  for fraction in all_fractions
                    div
                      a(href="{% url 'mp_fraction' fraction.group.slug %}") {{ fraction.group.name }}
                      | &nbsp; (nuo {{ fraction.since }}
                      if fraction.until
                        | iki {{ fraction.until }}
                      |)
              if profile.office_address
                .info-block
                  .name Biuro adresas:
                  .info {{ profile.office_address }}

          .column.biography
            h2 Biografija

            .bio-text
              | {{ biography|default_if_none:'-' }}

  .colored-bg
    .ui.zero.margin.center.aligned.grid
      a(name="stats")
      .stats-box
        .one-number
          .block.left: h4.number {{stats.vote_percent|floatformat:0}}%
          .block.right: .explanation
            span.popup(data-position="top center" data-content="Skaičiuojama, kokioje dalyje balsavimų Seimo narys dalyvavo (balsavo už, prieš arba susilaikė) nuo 2012 m. kadencijos pradžios") Dalyvavimas balsavimuose
        .rating(data-title="Balsavo daugiau nei {{ranking.votes_percentile}}%" data-content="Lyginant su visais Seimo nariais. 100% surenka aktyviausias balsavimuose dalyvaujantis Seimo narys.")
          .ui.indicating.progress(data-percent=ranking.votes_percentile): .bar
        .rating-notice Lyginant su kitais seimo nariais

      .stats-box
        .two-numbers
          h3 Aktyvumas diskusijose
          .block
            h4.number {{ stats.statement_count }}
            p.explanation
              span.popup(data-position="top center" data-content="Skaičiuojama, kiek kartų Seimo narys pasisakė per Seimo plenarinius posėdžius. Skaičiuojami visi pasisakymai.") pasisakymai
          .block
            h4.number {{ stats.long_statement_count }}
            .explanation
              span.popup(data-position="top center" data-content="Ilgi pasisakymai - daugiau nei 50 žodžių.") ilgi pasisakymai (kalbos)
        .rating(data-title="Pasisako daugiau nei {{ranking.statement_count_percentile}}%" data-content="Lyginant su visais Seimo nariais. 100% surenka daugiausia kalbantis Seimo narys.")
          .ui.indicating.progress(data-percent=ranking.statement_count_percentile): .bar
        .rating-notice Lyginant su kitais seimo nariais

      .stats-box
        .three-numbers
          h3 Teisės aktų projektai
          .block
            h4.number {{ stats.proposed_projects }}
            p.explanation
              span.popup(data-position="top center" data-content="Skaičiuojama, kiek kartų Seimo narys pasirašė po Seimo narių teiktais teisės aktų projektais.") pateikti
          .block
            h4.number {{ stats.passed_projects }}
            .explanation
               span.popup(data-position="top center" data-content="Skaičiuojama, kiek Seimo nario pateiktų teisės aktų projektų buvo priimta.") priimti
          .block
            h4.number {{stats.passed_project_percentage|floatformat:0 }}%
            .explanation
              span.popup(data-position="top center" data-content="Skaičiuojama, kokia procentinė dalis Seimo nario pateiktų teisės aktų projektų buvo priimti.") sėkmė

        .rating(data-title="Sėkmingesnis nei {{ranking.passed_law_project_ratio_percentile}}%" data-content="Lyginant su visais Seimo nariais. 100% surenka Seimo narys, kurio pateiktų ir priimtų teisės aktų projektų santykis yra didžiausias.")
          .ui.indicating.progress(data-percent="{{ ranking.passed_law_project_ratio_percentile }}"): .bar
        .rating-notice Lyginant su kitais seimo nariais


  a(name="law-projects")
  .law-project-collaborators
    .ui.zero.margin.page.grid
      a(name="law-project-collaborators")
      h2 Seimo nariai, su kuriais dažniausiai teikia teisės aktų projektus
      .collaborators
        for mp in top_collaborating_mps
          .parliamentarian.box
            img(src="{{ mp.photo.url }}")
            .info
              h2: a(href="{% url 'mp_profile' mp.slug %}") {{mp.full_name}}
              if mp.fraction
                a(href="{% url 'mp_fraction' mp.fraction.slug %}").fraction-name {{mp.fraction.name}}
              h5
                span.popup(data-position="top center" data-content="Skaičiuojama, kiek teisės aktų projektų Seimo narys pasirašė kartu su kitais Seimo nariais. Parodo Seimo nario \"bendradarbiavimo\" lygį su atskirais Seimo nariais.") {{ mp.project_count }} {% lt_pluralize mp.project_count 'bandras projektas' ' bendri projektai' 'bendrų projektų' %}

  #law-projects-component(data-slug="{{profile.slug}}")

  .transcripts
    a(name='stenogram_section')
    .ui.stackable.page.grid
      .ten.wide.column
        h2 Seimo posėdžių stenogramos
      if stats.statement_count
        .six.wide.right.aligned.column
          .ui.toggle.checkbox#only_as_presenter
            label Rodyti tik tuos pasisakymus, kuriuose Seimo narys yra pranešėjas
            input(name="filter_presenter" type="checkbox", checked="")

    if stats.statement_count
      .statements-component(data-slug="{{profile.slug}}")
    else
      .ui.stackable.page.grid
        .eight.wide.column
          h4 Šis seimo narys neturi pasisakymų seimo posėdžių metu

  if positions.for or positions.against or positions.neutral
    .decisions
      .ui.page.grid
        a(name="decisions")
        h2 Politiniai sprendimai
          small.important DĖMESIO: duomenys praeitos (2008-2012) kadencijos balsavimų!
          a
            i.circle.grey.info.icon(style="float: right;")

      .ui.stackable.three.column.center.aligned.page.grid
          .column
            h3.supports UŽ

            for position in positions.for
              .decision(class=position['klass'])
                a(href="{{ position.permalink }}" title=position["formatted"]) {{ position.title }}

          .column
            h3.abstention nei už nei prieš

            for position in positions.neutral
              .decision.abstention
                a(href="{{ position.permalink }}" title=position["formatted"]) {{ position.title }}

          .column
            h3.against PRIEŠ

            for position in positions.against
              .decision(class=position['klass'])
                a(href="{{ position.permalink }}" title=position["formatted"]) {{ position.title }}



  .ui.decisions-metodics.small.modal
    .header
      span Metodikos aprašymas
      i.close.icon
    .content
      .description
        p Rodoma, kiek Seimo narys palaiko įvairius Seimo politinius sprendimus. Spalvų intensyvumas nurodo palaikymo laipsnį:
        ul
          li
            b Tamsiai žalia: 67-100 proc. palaikymas
          li
            b Žalia: 34-66 proc. palaikymas
          li
            b Šviesiai žalia: 1-33. proc palaikymas
          li
            b Geltona: 0 proc. palaikymas
          li
            b Šviesiai raudona: 1-33 proc. pasipriešinimas
          li
            b Raudona: 34-66 proc. pasipriešinimas
          li
            b Tamsiai raudona: 67-100 proc. pasipriešinimas
        p Palaikymas / pasipriešinimas apskaičiuojamas įvertinant kiekvieną Seimo nario balsavimą dėl to politinio sprendimo (už = 2, susilaikė = -1, prieš = -2) ir išvedant jų vidurkį.

  script
    $(document).ready(function() {
      $('.decisions .info.icon').click(function() {
        $('.decisions-metodics.modal').modal('show');
      });
    });
