<table class="fractions_list">
{{#each_value fractions }}
    <tr id="MSWidget-fraction-{{_id}}">
        <td><img src='{{image}}' /></td>
        <td>
            <a target='_blank' href='{{fraction_url slug}}' onClick="MSWidget.clickthrough('Fraction')">{{ title }}</a><br/>
            {{ abbreviation }}&nbsp;&nbsp;
        </td>
        <td>
            <label>Už: <b>{{ votes.aye }}</b></label>
            {{ vote_data_bar 'aye' 100 }}
            <label>Prieš: <b>{{ votes.no }}</b></label>
            {{ vote_data_bar 'no' 100 }}
            <label title='Susilaikė/nebalsavo'>Susilaikė: <b>{{ votes.abstain }}</b></label>
            {{ vote_data_bar 'abstain' 100 }}
        </td>
    </tr>
{{/each_value}}
</table>
