<div class="mp">
    {{#if image}}
        <img height='50' alt='' class='lazy' src='{{image}}' />
    {{/if}}
    <div>
        <a target='_blank' href='{{page_url slug}}' onClick="MSWidget.clickthrough('MP')">{{ first_name }} {{ last_name }}</a><br/>
        {{ fraction.abbreviation }}&nbsp;&nbsp;
    </div>
</div>
